@{
    ViewBag.Title = "Cars";
}
<h2>@ViewBag.Title.</h2>

<div ng-controller="carController">
    <table class="table table-striped center">
        <tr>
            <th>Model</th>
            <th>Mark</th>
            <th>Type</th>
            <th>Price</th>
            <th>Issue Year</th>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>
</div>