@{
    ViewBag.Title = "Cars";
}
<h2>@ViewBag.Title.</h2>

<div ng-controller="carController">
    <table class="table table-striped center">
        <tr>
            <th>Model</th>
            <th>Mark</th>
            <th>Type</th>
            <th>Price</th>
            <th>Issue Year</th>
            <th></th>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>
                <button class="btn btn-primary"><i class="glyphicon glyphicon-edit"></i></button>
                <button class="btn btn-primary"><i class="glyphicon glyphicon-trash"></i></button>
            </td>
        </tr>
    </table>
    <button class="btn btn-info pull-left">Add new car</button>
</div>