@{
    ViewBag.Title = "Home Page";
}
<div class="jumbotron">
    <h1>Car owners and theirs car</h1>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Car owners</h2>
        <p>You can add, look ,delete or update here car owners </p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-6">
        <h2>Cars</h2>
        <p>You can add, look ,delete or update here car </p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
</div>